{#
/**
 * @file
 * posts-loop~list
 *   Posts loop with list pattern.
 *
 * Available variables:
 *  - posts: Array of post objects
 *  - fields: Block field data
 */
#}

<{{ fields.list_parent_element|default('ul') }} class="posts-loop--post-list">
  {% for post in posts %}
    {# Categories #}
    {% if post.categories %}
      {% set catArr = [] %}
      {% for category in post.categories %}
        {% set catArr = catArr | merge([category.name]) %}
      {% endfor %}
    {% endif %}

    <li class="posts-loop--post-list--item" {{ catArr | length > 0 ? 'data-categories="' ~ catArr | sort | join(', ') | trim ~ '"' }}>

      {% if fields.link_items == true %}
        <a class="posts-loop--post" href="{{ post.link }}">
      {% else %}
        <div class="posts-loop--post">
      {% endif %}

      {% for element in fields.posts_query_layout %}
        {% if element.acf_fc_layout == 'featured_image' and post.thumbnail.src %}
          {# Featured Image #}
          <div class="posts-loop--featured-image--wrapper">
            {% if fields.link_items != true and element.link_image == true %}
              <a class="posts-loop--post-thumbnail" href="{{ post.link }}">
            {% else %}
              <span class="posts-loop--post-thumbnail">
            {% endif %}
            <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
            {% if fields.link_items != true and element.link_image == true %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_title' and post.post_title %}
          {# Post Title #}
          <div class="posts-loop--post-title--wrapper">
            {% if fields.link_items != true and element.link_title == true %}
              <a href="{{ post.link }}">
            {% endif %}
            <{{ element.title_element}} class="posts-loop--post-title">{{ post.title }}</{{ element.title_element }}>
            {% if fields.link_items != true and element.link_title == true %}
              </a>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_excerpt' and (post.preview or function('get_the_excerpt')) %}
          {# Post Excerpt #}
          <div class="posts-loop--post-excerpt--wrapper">
            {# {% if post.post_type == 'page' %}
              <div class="posts-loop--post-excerpt">{{ function('get_the_excerpt') }}</div>
            {% elseif fields.link_items != true %}
              <div class="posts-loop--post-excerpt">{{ post.preview.read_more(element.read_more_label).length(element.length|number_format).force }}</div>
            {% else %}
              <div class="posts-loop--post-excerpt">
                <span class="excerpt">{{ post.preview.read_more('').length(element.length|number_format).force }}</span>
                {% if element.read_more_label %}<span class="read-more">{{ element.read_more_label }}</span>{% endif %}
              </div>
            {% endif %} #}
            {% if fields.link_items != true %}
              <div class="posts-loop--post-excerpt"><span class="post-excerpt">{{ function('get_the_excerpt')|truncate(element.length|number_format) }}</span> {% if element.read_more_label %}<span class="read-more"><a href="{{post.link}}">{{ element.read_more_label }}</a>{% endif %}</div>
            {% else %}
              <div class="posts-loop--post-excerpt"><span class="post-excerpt">{{ function('get_the_excerpt')|truncate(element.length|number_format) }}</span> {% if element.read_more_label %}<span class="read-more">{{ element.read_more_label }}</span>{% endif %}</div>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_content' and post.content %}
          {# Post Content #}
          <div class="posts-loop--post-content--wrapper">
            <div class="posts-loop--post-content">{{ post.content }}</div>
          </div>
        {% elseif element.acf_fc_layout == 'link' and post.link %}
          {# Post Link #}
          <div class="posts-loop--post-link--wrapper">
            {% if element.label %}
              <span class="posts-loop--post-link--label">{{ element.label }}</span>
            {% endif %}
            {% if fields.link_items != true and element.link_link == true %}
              <a href="{{ post.link }}" class="posts-loop--post-link posts-loop--post-url">
            {% else %}
              <span class="posts-loop--post-url">
            {% endif %}
            {{ post.link }}
            {% if fields.link_items != true and element.link_link == true %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_author' and post.authors %}
          {# Post Author #}
          <div class="posts-loop--post-author--wrapper">
            <div class="posts-loop--post-author">
              {% for author in post.authors %}
                {% for author_element in element.author_elements %}
                  {% if author_element.acf_fc_layout == 'gravatar' and author.avatar %}
                    {% if fields.link_items != true and element.link_author == true %}
                      <a class="posts-loop--post-author--link posts-loop--post-author--gravatar" href="{{ author.link }}">
                    {% else %}
                      <span class="posts-loop--post-author--gravatar">
                    {% endif %}
                    <img src="{{ author.avatar }}" alt="{{ author.name }}">
                    {% if fields.link_items != true and element.link_author == true %}
                      </a>
                    {% else %}
                      </span>
                    {% endif %}
                  {% elseif author_element.acf_fc_layout == 'name' and author.name %}
                    {% if author_element.label %}
                      <span class="posts-loop--post-author--label">{{ author_element.label }}</span>
                    {% endif %}
                    {% if fields.link_items != true and element.link_author == true %}
                      <a class="posts-loop--post-author--link posts-loop--post-author--name" href="{{ author.link }}">
                    {% else %}
                      <span class="posts-loop--post-author--name">
                    {% endif %}
                    {{ author.name }}
                    {% if fields.link_items != true and element.link_author == true %}
                      </a>
                    {% else %}
                      </span>
                    {% endif %}
                  {% elseif author_element.acf_fc_layout == 'email' and function('get_user_by', 'id', author.id).data.user_email %}
                    {% if fields.link_items != true %}
                      <a class="posts-loop--post-author--link posts-loop--post-author--email" href="mailto:{{ function('get_user_by', 'id', author.id).data.user_email }}">
                    {% else %}
                      <span class="posts-loop--post-author--email">
                    {% endif %}
                    {{ function('get_user_by', 'id', author.id).data.user_email }}
                    {% if fields.link_items != true %}
                      </a>
                    {% else %}
                      </span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        {% elseif element.acf_fc_layout == 'post_date' and post.date %}
          {# Post Date #}
          <div class="posts-loop--post-date--wrapper">
            {% if element.label %}
              <span class="posts-loop--post-date--label">{{ element.label }}</span>
            {% endif %}
            {% if fields.link_items != true and element.link_date == true and post.type.slug == 'post' %}
              <a class="posts-loop--date--link posts-loop--post-date" href="/{{ post.date|date('Y') }}{{ element.link_to == 'month' or element.link_to == 'day' ? '/' ~ post.date|date('m') }}{{ element.link_to == 'day' ? '/' ~ post.date|date('d') }}">
            {% elseif fields.link_items != true and element.link_date == true and post.type.has_archive %}
              <a class="posts-loop--date--link posts-loop--post-date" href="/{{ post.type.has_archive }}/{{ post.date|date('Y') }}{{ element.link_to == 'month' or element.link_to == 'day' ? '/' ~ post.date|date('m') }}{{ element.link_to == 'day' ? '/' ~ post.date|date('d') }}">
            {% else %}
              <span class="posts-loop--post-date">
            {% endif %}
            {{ post.date|date(element.date_format) }}
            {% if fields.link_items != true and element.link_date == true and (post.type.slug == 'post' or post.type.has_archive) %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_modified' and (post.modified_date or post.modified_author) %}
          {# Post Modified #}
          <div class="posts-loop--post-modified--wrapper">
            {% if function('in_array', 'label', element.modified_elements) and element.label %}
              <span class="posts-loop--post-modified--label">{{ element.label }}</span>
            {% endif %}
            {% if function('in_array', 'date', element.modified_elements) and post.modified_date %}
              {% if fields.link_items != true and element.link_date == true and post.type.slug == 'post' %}
                <a class="posts-loop--post-modified--link posts-loop--post-modified--date" href="/{{ post.modified_date|date('Y') }}{{ element.link_to == 'month' or element.link_to == 'day' ? '/' ~ post.modified_date|date('m') }}{{ element.link_to == 'day' ? '/' ~ post.modified_date|date('d') }}">
              {% elseif fields.link_items != true and element.link_date == true and post.type.has_archive %}
                <a class="posts-loop--post-modified--link posts-loop--post-modified--date" href="/{{ post.type.has_archive }}/{{ post.modified_date|date('Y') }}{{ element.link_to == 'month' or element.link_to == 'day' ? '/' ~ post.modified_date|date('m') }}{{ element.link_to == 'day' ? '/' ~ post.modified_date|date('d') }}">
              {% else %}
                <span class="posts-loop--post-modified--date">
              {% endif %}
              {{ post.modified_date|date(element.date_format) }}
              {% if fields.link_items != true and element.link_date == true and (post.type.slug == 'post' or post.type.has_archive) %}
                </a>
              {% else %}
                </span>
              {% endif %}
            {% endif %}
            {% if function('in_array', 'author', element.modified_elements) and  element.separator %}
              <span class="posts-loop--post-modified--separator">{{ element.separator }}</span>
            {% endif %}
            {% if function('in_array', 'author', element.modified_elements) and post.modified_author %}
              {% if fields.link_items != true and element.link_author == true %}
                <a class="posts-loop--post-modified--link posts-loop--post-modified--author" href="{{ post.modified_author.link }}">
              {% else %}
                <span class="posts-loop--post-modified--author">
              {% endif %}
              {{ post.modified_author.name }}
              {% if fields.link_items != true and element.link_author == true %}
                </a>
              {% else %}
                </span>
              {% endif %}
            {% endif %}
            {% if function('in_array', 'email', element.modified_elements) and function('get_user_by', 'id', post.modified_author.id).data.user_email %}
              {% if fields.link_items != true %}
                <a class="posts-loop--post-modified--link posts-loop--post-modified--author-email" href="mailto:{{ function('get_user_by', 'id', post.modified_author.id).data.user_email }}">
              {% else %}
                <span class="posts-loop--post-modified--author-email">
              {% endif %}
              {{ function('get_user_by', 'id', post.modified_author.id).data.user_email }}
              {% if fields.link_items != true %}
                </a>
              {% else %}
                </span>
              {% endif %}
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_type' and post.type %}
          {# Post Type #}
          <div class="posts-loop--post-type--wrapper">
            {% if element.label %}
              <span class="posts-loop--post-type--label">{{ element.label }}</span>
            {% endif %}
            {% if fields.link_items != true and element.link_post_type == true and post.type.has_archive %}
              <a class="posts-loop--post-type--link posts-loop--post-type" href="/{{ post.type.has_archive }}">
            {% elseif fields.link_items != true and element.link_post_type == true %}
              <a class="posts-loop--post-type--link posts-loop--post-type" href="{{ function('get_post_type_archive_link', post.type.slug) }}">
            {% else %}
              <span class="posts-loop--post-type">
            {% endif %}
            {% if element.name_format == 'name' %}
              {{ post.type.labels.name }}
            {% elseif element.name_format == 'singular_name' %}
              {{ post.type.labels.singular_name }}
            {% elseif element.name_format == 'menu_name' %}
              {{ post.type.labels.menu_name }}
            {% elseif element.name_format == 'name_admin_bar' %}
              {{ post.type.labels.name_admin_bar }}
            {% endif %}
            {% if fields.link_items != true and element.link_post_type == true %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'post_parent' and post.parent %}
          {# Post Parent #}
          <div class="posts-loop--post-parent--wrapper">
            {% if element.label %}
              <span class="posts-loop--post-parent--label">{{ element.label }}</span>
            {% endif %}
            {% if fields.link_items != true and element.link_parent == true %}
              <a class="posts-loop--post-parent-link posts-loop--post-parent" href="{{ post.parent.link }}">
            {% else %}
              <span class="posts-loop--post-parent">
            {% endif %}
            {{ post.parent.title }}
            {% if fields.link_items != true and element.link_link == true %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div>
        {% elseif element.acf_fc_layout == 'children' and post.children %}
          {# Children #}
          <div class="posts-loop--post-children--wrapper">
            {% if element.label %}
              <span class="posts-loop--children--label">{{ element.label }}</span>
            {% endif %}
            {% for child in post.children %}
              {% if fields.link_items != true and element.link_children == true %}<a class="posts-loop--child--link posts-loop--child" href="/child/{{ child.slug }}">{% else %}<span class="posts-loop--child">{% endif %}{{ child.name }}{% if fields.link_items != true and element.link_children == true %}</a>{% else %}</span>{% endif %}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% elseif element.acf_fc_layout == 'comment_count' and post.comment_count %}
          {# Comment Count #}
          <div class="posts-loop--comment-count--wrapper">
            {% if element.label %}
              <span class="posts-loop--comment-count--label">{{ element.label }}</span>
            {% endif %}
            <span class="posts-loop--comment-count">{{ post.comment_count }}</span>
          </div>
        {% elseif element.acf_fc_layout == 'terms' and post.terms({query:{taxonomy:element.taxonomy, orderby:element.order_by, order: element.order}}) %}
          {# Terms #}
          <div class="posts-loop--terms--wrapper">
            {% if element.label %}
              <span class="posts-loop--terms--label">{{ element.label }}</span>
            {% endif %}
            {% for term in post.terms({query:{taxonomy:element.taxonomy, orderby:element.order_by, order: element.order}}) %}
              {% if fields.link_items != true and element.link_terms == true %}<a class="posts-loop--term--link posts-loop--term" href="/{{ term.taxonomy }}/{{ term.slug }}">{% else %}<span class="posts-loop--term">{% endif %}{{ term.name }}{% if fields.link_items != true and element.link_terms == true %}</a>{% else %}</span>{% endif %}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% elseif element.acf_fc_layout == 'categories' and post.categories %}
          {# Categories #}
          <div class="posts-loop--categories--wrapper">
            {% if element.label %}
              <span class="posts-loop--categories--label">{{ element.label }}</span>
            {% endif %}
            {% for category in post.categories %}
              {% if fields.link_items != true and element.link_categories == true %}<a class="posts-loop--category--link posts-loop--category" href="/{{ category.taxonomy }}/{{ category.slug }}">{% else %}<span class="posts-loop--category">{% endif %}{{ category.name }}{% if fields.link_items != true and element.link_categories == true %}</a>{% else %}</span>{% endif %}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% elseif element.acf_fc_layout == 'tags' and post.tags %}
          {# Tags #}
          <div class="posts-loop--tags--wrapper">
            {% if element.label %}
              <span class="posts-loop--tags--label">{{ element.label }}</span>
            {% endif %}
            {% for tag in post.tags %}
              {% if fields.link_items != true and element.link_tags == true %}<a class="posts-loop--tag--link posts-loop--tag" href="/tag/{{ tag.slug }}">{% else %}<span class="posts-loop--tag">{% endif %}{{ tag.name }}{% if fields.link_items != true and element.link_tags == true %}</a>{% else %}</span>{% endif %}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}

      {% if fields.link_items == true %}
        </a>
      {% else %}
        </div>
      {% endif %}

    </li>
  {% endfor %}
</{{ fields.list_parent_element|default('ul') }}>
