<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/dream.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/patternlab.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

    <script type="text/javascript"  src="../../js/dream.bundle.js?{{ cacheBuster }}" />
    <script type="text/javascript"  src="../../js/patternlab.bundle.js?{{ cacheBuster }}" />

  </head>
  <body class="{{ bodyClass }}">

