{% extends "layouts/base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
      {% if post.title or post.thumbnail.src %}
        {% include "partials/content/page-header.twig" with {
          title: post.title,
          thumbnail: post.thumbnail
        } %}
      {% endif %}
      {% if post.content %}
        <section class="article-content">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="article-body">
                  <form class="password-form" action="{{ form_action }}" method="post">
                    <label for="pwbox-{{post.ID}}">Password:</label>
                    <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
                    <input class="password-btn" type="submit" name="Submit" value="Submit" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
      {% if user and (post.author.name or post.date or post.link) %}
        <footer class="article-footer">
          <div class="container">
            <div class="row">
              <div class="col">
{#                {% if post.author.name %}#}
{#                  <p class="article-author">#}
{#                    <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}#}
{#                  </p>#}
{#                {% endif %}#}
                {% if user and post.link %}
                  <p class="article-edit">
                    <a href="{{ post.link }}">{{ _e('edit') }}</a>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </footer>
      {% endif %}

      <!-- comment box -->
      {% if post.comment_status != "closed" %}
        <section class="comment-box">
          <div class="container">
            <div class="row">
              <div class="col">
                <!-- comments -->
                <div class="comments">
                  {% if post.comments %}
                    <h3> comments </h3>
                    {% for cmt in post.comments %}
                      {% include "partials/content/comment.twig" with {comment:cmt} %}
                    {% endfor %}
                  {% endif %}
                </div>
                <!-- comment form -->
                {% include "partials/content/comment-form.twig" %}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

    </article>
  </div><!-- /content-wrapper -->
{% endblock %}
