{#
/**
 * Block Name: Accordion
 *
 * This is the template that displays the accordion block.
 */
#}

{# Set block data object for block registration: src/funcions/blocks.php #}
{% set block_data = {
  name: 'Accordion',
  description: 'An accordion block',
  category: 'dream',
  icon: 'admin-collapse',
  keywords: '',
  mode: 'preview',
  post_types: true,
  align: '',
  align_text: '',
  align_content: '',
  enqueue_style: '',
  enqueue_script: '',
  supports_align: true,
  supports_align_text: true,
  supports_align_content: true,
  supports_mode: true,
  supports_multiple: true,
  supports_anchor: true,
  supports_className: true,
  supports_full_height: true,
  supports_jsx: true
} %}

{#{% if is_preview %}#}
{#<p>Some editor instructions here.</p>#}
{#{% endif %}#}

{% if is_preview and (fields.id['id'] or fields.id['id_gen']) and fields.id['show_ids'] == true %}
  <p><small><strong>Accordion ID:</strong> {{ fields.id['id'] ? fields.id['id']}}{{ fields.id['id_gen'] ? 'accordion' ~ fields.id['id_gen'] }}</small></p>
{% endif %}

{#{{ block['align'] ? 'align-' ~ block['align'] }}#}

{#{{ function('print_r', '<pre>') }}#}
{#{{ function('print_r', 'TEST: ') }}#}
{#{{ function('print_r', fields.id) }}#}
{#{{ function('print_r', '</pre>') }}#}

{# Accordion Styles #}
{% set accordion_styles = [
  fields.margin['margin']['top']['auto'] == true ? 'margin-top: auto;' : fields.margin['margin']['top']['top'] >= 0 ? 'margin-top: ' ~ fields.margin['margin']['top']['top'] ~ 'px;',
  fields.margin['margin']['bottom']['auto'] == true ? 'margin-bottom: auto;' : fields.margin['margin']['bottom']['bottom'] >= 0 ? 'margin-bottom: ' ~ fields.margin['margin']['bottom']['bottom'] ~ 'px;',
  fields.margin['margin']['left']['auto'] == true ? 'margin-left: auto;' : fields.margin['margin']['left']['left'] >= 0 ? 'margin-left: ' ~ fields.margin['margin']['left']['left'] ~ 'px;',
  fields.margin['margin']['right']['auto'] == true ? 'margin-right: auto;' : fields.margin['margin']['right']['right'] >= 0 ? 'margin-right: ' ~ fields.margin['margin']['right']['right'] ~ 'px;'
] | sort | join(' ') | trim %}

{% embed '@molecules/accordion/_accordion.tpl.twig' with {
  accordion_id: fields.id['id'] ? fields.id['id'] : fields.id['id_gen'] ? 'accordion' ~ fields.id['id_gen'],
  accordion_other_classes: block['className'],
  accordion_flush: fields.flush,
  always_open: fields.always_open,
  accordion_attributes: [
    accordion_styles ? 'style="' ~ accordion_styles ~ '"'
  ]
} %}
  {% block items %}
    <InnerBlocks allowedBlocks="{{ ['acf/accordion-item'] | json_encode() | escape('html_attr') }}" template="{{ [['acf/accordion-item']] | json_encode() | escape('html_attr') }}" />
  {% endblock items %}
{% endembed %}

