{% set icon_type = icon_type|default('custom') %}

{% set color = icon.icon.icon.color == 'custom' ? 'color: ' ~ icon.icon.icon.custom_color ~ ';'  %}

{% embed '@atoms/form/_form.tpl.twig' with {
  attributes: 'role="search"',
  name: 'searchform',
  id: 'searchform',
  charset: '',
  action: site.link,
  autocomplete: '',
  method: 'get',
  enctype: '',
  novalidate: '',
  target: '',
  form_classes: [
    'searchform',
    placeholder_color ? 'placeholder-' ~ placeholder_color
  ]
} %}
  {% block form_content %}
    <div>
      <label class="{{ show_label == true ? '' : 'screen-reader-text' }} {{ label_classes ? label_classes | sort | join(' ') | trim }}" for="s" {{ label_attributes ? label_attributes | sort | join(' ') | trim }}>{{ label | default('Search for:') }}</label>
      {% if post_type %}<input type="hidden" name="post_type" value="{{ post_type }}" />{% endif %}
      <input type="text" value="{{ function('get_search_query') }}" name="s" id="s" class="search-field {{ input_classes ? input_classes | sort | join(' ') | trim }}" placeholder="{{ placeholder }}" {{ input_attributes ? input_attributes | sort | join(' ') | trim }} />
      {% embed '@atoms/button/_button.tpl.twig' with {
        button_element: 'button',
        button_color: button_color|default('link'),
        button_text: button_text,
        button_type: 'submit',
        button_id: 'searchsubmit',
        button_value: 'Search',
        button_classes: button_classes,
        button_other_classes: 'search-submit',
        button_attributes: button_attributes,
        button_other_attributes: button_other_attributes,
        button_size: button_size,
        button_outline: button_outline,
        button_block: button_block,
        nowrap: button_nowrap,
        button_title: button_text,
        hide_label: hide_button_label
      } %}
        {% block left %}
          {% if hide_icon != true and icon_type == 'custom' %}
            {% include '@atoms/svg/_svg~icon.tpl.twig' with {
              svg_other_classes: 'search-icon',
              svg_classes: icon_classes,
              svg_attributes: icon_other_attributes,
              svg_other_attributes: icon_other_attributes,
              svg_styles: icon_styles,
              svg_link_attributes: icon_link_attributes,
              svg_link_other_attributes: svg_link_other_attributes,
              width: icon_width|default('30px'),
              height: icon_height|default('30px'),
              name: icon_name|default('search'),
              fill: icon_color|default('black'),
            } %}
          {% elseif hide_icon != true and icon_type == 'font-awesome' %}
            <span class="icon">
              <i class="{{ fa_icon_style }} {{ fa_icon }}" {{ icon_styles ? 'style="' ~ icon_styles|sort|join|trim ~ '"' }}></i>
            </span>
          {% endif %}
        {% endblock left %}
      {% endembed %}
    </div>
  {% endblock %}
{% endembed %}
