{#
/**
 * @file
 * _card-author.twig
 *   Card-specific post author element for posts loop.
 *   Uses fields.element_author structure for card positioning logic.
 *
 * Available variables:
 *  - post: Post object
 *  - fields: Block field data (for fields.element_author and fields.link_items)
 *  - location: Card location ('label' or 'subtitle') - passed as parameter
 */
#}

{% if function('in_array', 'post_author', fields.elements) and post.authors and fields.element_author.card_author_location == location %}
  {# Post Author #}
  <div class="posts-loop--post-author">
    {% for author in post.authors %}
      {% if function('in_array', 'gravatar', fields.element_author.author_elements) and author.avatar %}
        {% if fields.link_items != true and fields.element_author.link_author == true %}
          <a class="posts-loop--post-author--link posts-loop--post-author--gravatar" href="{{ author.link }}">
        {% else %}
          <span class="posts-loop--post-author--gravatar">
        {% endif %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
        {% if fields.link_items != true and fields.element_author.link_author == true %}
          </a>
        {% else %}
          </span>
        {% endif %}
      {% endif %}
      {% if function('in_array', 'name', fields.element_author.author_elements) and author.name %}
        {% if fields.element_author.label %}
          <span class="posts-loop--post-author--label">{{ fields.element_author.label }}</span>
        {% endif %}
        {% if fields.link_items != true and fields.element_author.link_author == true %}
          <a class="posts-loop--post-author--link posts-loop--post-author--name" href="{{ author.link }}">
        {% else %}
          <span class="posts-loop--post-author--name">
        {% endif %}
        {{ author.name }}
        {% if fields.link_items != true and fields.element_author.link_author == true %}
          </a>
        {% else %}
          </span>
        {% endif %}
      {% endif %}
      {% if function('in_array', 'email', fields.element_author.author_elements) and function('get_user_by', 'id', author.id).data.user_email %}
        {% if fields.link_items != true %}
          <a class="posts-loop--post-author--link posts-loop--post-author--email" href="mailto:{{ function('get_user_by', 'id', author.id).data.user_email }}">
        {% else %}
          <span class="posts-loop--post-author--email">
        {% endif %}
        {{ function('get_user_by', 'id', author.id).data.user_email }}
        {% if fields.link_items != true %}
          </a>
        {% else %}
          </span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}