{% if posts.pagination.pages is not empty %}
	<nav class="pagination-block">
		<ul class="pagination">
			{% if pagination.pages|first and pagination.pages|first.current != true and hide_first != true %}
				<li class="first btn">
					<a href="{{ pagination.pages|first.link }}"><span class="button-label">{{ first_label | default('First') }}</span></a>
				</li>
			{% elseif hide_first != true %}
				<li class="first btn disabled">
					<button disabled><span class="button-label">{{ first_label | default('First') }}</span></button>
				</li>
			{% endif %}

			{% if pagination.prev and hide_previous != true %}
				<li class="prev btn">
					<a href="{{ pagination.prev.link }}"><span class="button-label">{{ previous_label | default('Previous') }}</span></a>
				</li>
			{% elseif hide_previous != true %}
				<li class="prev btn disabled">
					<button disabled><span class="button-label">{{ previous_label | default('Previous') }}</span></button>
				</li>
			{% endif %}

			{% if hide_pages != true %}
				{% for page in pagination.pages %}
					{% if page.link %}
						<li>
							<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
						</li>
					{% else %}
						<li class="current">
							<span class="{{ page.class }}">{{ page.title }}</span>
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if pagination.next and hide_next != true %}
				<li class="next btn">
					<a href="{{ pagination.next.link }}"><span class="button-label">{{ next_label | default('Next') }}</span></a>
				</li>
			{% elseif hide_next != true %}
				<li class="next btn disabled">
					<button disabled><span class="button-label">{{ next_label | default('Next') }}</span></button>
				</li>
			{% endif %}
			{% if pagination.pages|last and pagination.pages|last.current != true and hide_last != true %}
				<li class="last btn">
					<a href="{{ pagination.pages|last.link }}"><span class="button-label">{{ last_label | default('Last') }}</span></a>
				</li>
			{% elseif hide_last != true %}
				<li class="last btn disabled">
					<button disabled><span class="button-label">{{ last_label | default('Last') }}</span></button>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}

