{#
/**
 * @file
 * branding
 *
 * Available variables for branding:
 *  - url: [string] The url the block directs to.
 *  - logo_svg_inline: [string] The SVG path.
 *  - logo_img_src: [string] The IMG path.
 *  - logo_bg_img_src: [string] The IMG path.
 *  - site_name: [string] The site name provided by the app.
 *  - hide_site_name: [bool] Hide the site name.
 *  - site_slogan: [string] The site slogan provided by the app.
 *  - hide_site_slogan: [bool] Hide the site slogan.
 *  - branding_other_classes [array]: Additional component classes.
 */
#}

{% set branding_classes = branding_classes|default([])|merge([
  'branding',
  logo_svg_inline ? 'logo-type--svg' : logo_bg_img_src ? 'logo-type--bg',
  branding_other_classes,
]) | sort | join(' ') | trim %}

{% set branding_styles = branding_styles|default([])|merge([
  branding_other_styles,
]) | sort | join(' ') | trim %}

{% set branding_attributes = branding_attributes|default([])|merge([
  branding_classes ? 'class="' ~ branding_classes ~ '"',
  branding_styles ? 'style="' ~ branding_styles ~ '"',
  branding_other_attributes,
]) | sort | join(' ') | trim %}

{% set branding_link_classes = branding_link_classes|default([])|merge([
  branding_link_other_classes,
]) | sort | join(' ') | trim %}

{% set branding_link_styles = branding_link_styles|default([])|merge([
  branding_link_other_styles,
]) | sort | join(' ') | trim %}

{% set branding_link_attributes = branding_link_attributes|default([])|merge([
  branding_link_classes ? 'class="' ~ branding_link_classes ~ '"',
  branding_link_styles ? 'style="' ~ branding_link_styles ~ '"',
  url ? 'href="' ~ url ~ '"',
  target ? 'target="' ~ target|default('_self') ~ '"',
  'rel="home"',
  branding_link_other_attributes,
  site_name ? 'aria-label="' ~ site_name ~ '"',
]) | sort | join(' ') | trim %}

{% set alt_text = site_name ~ ': ' ~ site_slogan %}

{% set link_element = url ? 'a' : 'span' %}

<div {{ branding_attributes }}>
  <div class="branding--site-logo">
    <{{ link_element}} title="{{ site_name }}" {{ branding_link_attributes }}>
      {% if logo_svg_inline %}
        {% include '@atoms/svg/_svg.tpl.twig' with {
          path: logo_svg_inline,
          colorOriginal: colorOriginal,
          alt: alt_text,
          svg_other_classes: 'branding--logo-img',
        } %}
      {% elseif logo_bg_img_src %}
        {% include "@atoms/image/_image.tpl.twig" with {
          variant: 'bg',
          src: logo_bg_img_src,
          alt: alt_text,
          placeholder: false,
          image_other_classes: 'branding--logo-img',
          width: width,
          height: height,
        } %}
      {% elseif logo_img_src %}
        {% include "@atoms/image/_image.tpl.twig" with {
          variant: 'primary',
          src: logo_img_src,
          alt: alt_text,
          placeholder: false,
          image_other_classes: 'branding--logo-img',
          width: width,
          height: height,
        } %}
      {% endif %}
    </{{ link_element }}>
  </div>

  {% if site_name and hide_site_name != true %}
  <{{ name_element ? name_element : 'h1' }} class="branding--site-name">
    <a title="{{ 'Home' }}" {{ branding_link_attributes }}>{{ site_name }}</a>
  </{{ name_element ? name_element : 'h1' }}>
  {% endif %}

  {% if site_slogan and hide_site_slogan != true %}
    <p class="lead branding--site-slogan" style="{{ branding_link_styles }}">{{ site_slogan }}</p>
  {% endif %}
</div>
