{% block html_head_container %}
  {% include 'partials/wrapper/head.twig' %}
	{% block head %}{% endblock %}
	</head>
{% endblock %}

{# Set Page Styles - Pre-calculated in PHP (eliminates 70+ post.meta() calls) #}
{% set page_bg_color = page_styles.page_bg_color %}
{% set page_text_color = page_styles.page_text_color %}
{% set content_padding_top = page_styles.content_padding_top %}
{% set content_padding_bottom = page_styles.content_padding_bottom %}
{% set content_padding_left = page_styles.content_padding_left %}
{% set content_padding_right = page_styles.content_padding_right %}
{% set sidebar_bg_color = page_styles.sidebar_bg_color %}
{% set sidebar_text_color = page_styles.sidebar_text_color %}
{% set sidebar_padding_top = page_styles.sidebar_padding_top %}
{% set sidebar_padding_bottom = page_styles.sidebar_padding_bottom %}
{% set sidebar_padding_left = page_styles.sidebar_padding_left %}
{% set sidebar_padding_right = page_styles.sidebar_padding_right %}
{% set sidebar_width = page_styles.sidebar_width %}
{% set page_bg_image = page_styles.page_bg_image %}
{% set page_bg_image_size = page_styles.page_bg_image_size %}
{% set page_bg_position = page_styles.page_bg_position %}
{% set page_bg_repeat = page_styles.page_bg_repeat %}
{% set page_bg_attachment = page_styles.page_bg_attachment %}
{% set sidebar_page_bg_image = page_styles.sidebar_bg_image %}
{% set sidebar_page_bg_image_size = page_styles.sidebar_bg_image_size %}
{% set sidebar_page_bg_position = page_styles.sidebar_bg_position %}
{% set sidebar_page_bg_repeat = page_styles.sidebar_bg_repeat %}
{% set sidebar_page_bg_attachment = page_styles.sidebar_bg_attachment %}

{# Set Body Classes - Using pre-calculated values #}
{% set body_classes = body_classes|default([])|merge([
  body_class,
  post.slug,
  page_styles.page_bg_color_class,
  page_styles.page_text_color_class,
  options.remove_content_containers != true and page_styles.meta.remove_content_container != true ? 'include-content-containers',
  options.remove_header_containers != true and page_styles.meta.remove_header_container != true ? 'include-header-containers',
  options.remove_footer_containers != true and page_styles.meta.remove_footer_container != true ? 'include-footer-containers',
  options.fluid_content_containers != true and page_styles.meta.fluid_content_container != true ? 'max-width-content-container',
  options.fluid_footer_containers != true and page_styles.meta.fluid_footer_container != true ? 'max-width-footer-container',
  options.max_width_fluid_containers == true ? 'max-width-fluid-containers',
  page_styles.meta.header_position ? page_styles.meta.header_position ~ '-header-enabled' : options.header_position ? options.header_position ~ '-header-enabled' : '',
  options.shrink_header == true ? 'shrink-header-enabled',
  options.body_classes,
  page_styles.meta.page_classes,
  options.disable_gf_layout == true ? 'no-gf-layout'
]) | sort | join(' ') | trim %}

{# Set Body Attributes #}
{% set body_attributes = body_attributes|default([])|merge([
  'data-template="base.twig"',
  'data-bs-spy="scroll"',
  'data-bs-target="#primaryNavigation"',
  page_bg_color or page_text_color ? 'style="' ~ page_bg_color ~ page_text_color ~ '"'
]) | sort | join(' ') | trim %}

{# Set Main Classes - Using pre-calculated values #}
{% set main_classes = main_classes|default([])|merge([
  'content-wrapper',
  sidebar_class and page_styles.meta.hide_sidebar != true and options.hide_sidebars != true ? sidebar_class,
  sidebar_class and (options.left_sidebar == true or page_styles.meta.left_sidebar == true) ? 'sidebar-left'
]) | sort | join(' ') | trim %}

{# Set Main Attributes #}
{% set main_attributes = main_attributes|default([])|merge([
  page_bg_image or page_bg_image_size or page_bg_position or page_bg_repeat or page_bg_attachment ? 'style="' ~ page_bg_image ~ page_bg_image_size ~ page_bg_position ~ page_bg_repeat ~ page_bg_attachment ~ '"'
]) | sort | join(' ') | trim %}

{# Set Wrapper Classes #}
{% set content_wrapper_classes = content_wrapper_classes|default([])|merge([
  'wrapper'
]) | sort | join(' ') | trim %}

{# Set Wrapper Attributes #}
{% set content_wrapper_attributes = content_wrapper_attributes|default([])|merge([
  content_padding_top or content_padding_bottom or content_padding_left or content_padding_right ? 'style="' ~ content_padding_top ~ content_padding_bottom ~ content_padding_left ~ content_padding_right ~ '"'
]) | sort | join(' ') | trim %}

{# Set Sidebar Classes - Using pre-calculated values #}
{% set sidebar_classes = sidebar_classes|default([])|merge([
  'sidebar',
  page_styles.meta.page_sidebar is not empty ? 'sidebar-' ~ page_styles.meta.page_sidebar : 'sidebar-' ~ options.default_sidebar,
  page_styles.sidebar_bg_color_class,
  page_styles.sidebar_text_color_class
]) | sort | join(' ') | trim %}

{# Set Sidebar Attributes #}
{% set sidebar_attributes = sidebar_attributes|default([])|merge([
  sidebar_page_bg_image or sidebar_page_bg_image_size or sidebar_page_bg_position or sidebar_page_bg_repeat or sidebar_page_bg_attachment or sidebar_bg_color or sidebar_text_color or sidebar_padding_top or sidebar_padding_bottom or sidebar_padding_left or sidebar_padding_right ? 'style="' ~ sidebar_page_bg_image ~ sidebar_page_bg_image_size ~ sidebar_page_bg_position ~ sidebar_page_bg_repeat ~ sidebar_page_bg_attachment ~ sidebar_bg_color ~ sidebar_text_color ~ sidebar_padding_top ~ sidebar_padding_bottom ~ sidebar_padding_left ~ sidebar_padding_right ~ '"'
]) | sort | join(' ') | trim %}

	<body class="{{body_classes}}" {{ body_attributes }}>
  {% include "partials/wrapper/scripts-body.twig" %}

  {% include 'partials/wrapper/header.twig' %}

    {% if sidebar_width or sidebar_min_width or sidebar_max_width %}
      <style>
        @media screen and (min-width: {{ sass_data.scssBreakpoints.lg }}) {
          {% if sidebar_width %}
          .content-wrapper.sidebar-active {
            grid-template-columns: auto {{ sidebar_width }};
          }
          {% endif %}
        }
      </style>
    {% endif %}

    <main class="{{ main_classes }}" {{ main_attributes }}>
			<div class="{{ content_wrapper_classes }}" {{ content_wrapper_attributes }}>
        {% if title %}
          {% include "partials/content/page-header.twig" %}
        {% endif %}
				{% block content %}
					Sorry, no content
				{% endblock content %}
			</div>
			{% block sidebar %}
        {% if sidebar and page_styles.meta.hide_sidebar != true and options.hide_sidebars != true  %}
          <aside class="{{ sidebar_classes }}" {{ sidebar_attributes }}>
            {{sidebar}}
          </aside>
        {% endif %}
			{% endblock sidebar %}
		</main>

    {% include 'partials/wrapper/footer.twig' %}

    {% block foot %}{% endblock foot %}

    {% include "partials/wrapper/scripts-footer.twig" %}

    {{ function('wp_footer') }}
	</body>
</html>
