{#
/**
 * @file
 * button group
 *
 * Available variables for button group:
 *  - button_group_wrapper_display [string ('inline-block', 'grid', 'inline', 'block', 'flex', 'inline-flex')]: Button group wrapper display property. Default: 'inline-block'.
 *  - button_group_title [string]: A title for the button group.
 *  - button_group_description [string]: A button group description.
 *  - button_group_toolbar [bool]: Combine sets of button groups into button toolbars.
 *  - button_group_toolbar_label [string]: Label for button group.
 *  - button_group_display_grid [bool]: Display button group as a group (@link https://getbootstrap.com/docs/5.0/components/button-group/) or grid (@link https://getbootstrap.com/docs/5.0/components/buttons/#block-buttons). Default: true (grid).
 *  - button_group_label [string]: Label for button group.
 *  - button_group_size [string: 'sm', 'lg']: Size of the button group.
 *  - button_group_vertical [bool]: Display buttons vertically.
 *  - button_group_gap [string | number]: Spacing button group. Corresponds to the $spacer variable defined in bootstrap SASS variables.
 *  - button_group_breakpoints [object]: Array of breakpoints and display properties for button group. Must correspond to breakpoints defined in the bootstrap SASS variables and default bootstrap display properties (@link https://getbootstrap.com/docs/5.0/utilities/display/)
 *  - button_group_wrapper_classes [array]: Additional component classes.
 *  - button_group_wrapper_other_classes [string]: Additional component classes.
 *  - button_group_toolbar_classes [array]: Additional component classes.
 *  - button_group_toolbar_other_classes [string]: Additional component classes.
 *  - button_group_classes [array]: Additional component classes.
 *  - button_group_other_classes [string]: Additional component classes.
 *  - button_group_wrapper_attributes [array]: Additional component attributes.
 *  - button_group_wrapper_other_attributes [string]: Additional component attributes.
 *  - button_group_toolbar_attributes [array]: Additional component attributes.
 *  - button_group_toolbar_other_attributes [string]: Additional component attributes.
 *  - button_group_attributes [array]: Additional component attributes.
 *  - button_group_other_attributes [string]: Additional component attributes.
 *  - buttons [array]: Array of buttons.
 *  - button_dropdown [bool)]: Use dropdown button.
 */
#}

{# {% set button_group_display_grid = button_group_display_grid | default(true) %} #}

{% set button_group_wrapper_display = button_group_wrapper_display | default('inline-block') %}

{% set button_group_wrapper_classes = button_group_wrapper_classes|default([])|merge([
  'button-group--wrapper',
  button_group_wrapper_display == 'inline' or button_group_wrapper_display == 'd-inline' ? 'd-inline',
  button_group_wrapper_display == 'inline-block' or button_group_wrapper_display == 'd-inline-block' ? 'd-inline-block',
  button_group_wrapper_display == 'grid' or button_group_wrapper_display == 'd-grid' ? 'd-grid',
  button_group_wrapper_display == 'block' or button_group_wrapper_display == 'd-block' ? 'd-block',
  button_group_wrapper_display == 'flex' or button_group_wrapper_display == 'd-flex' ? 'd-flex',
  button_group_wrapper_display == 'inline-flex' or button_group_wrapper_display == 'd-inline-flex' ? 'd-inline-flex',
  button_group_wrapper_other_classes,
]) | sort | join(' ') | trim %}

{% set button_group_wrapper_attributes = button_group_wrapper_attributes|default([])|merge([
  button_group_wrapper_other_attributes,
]) | sort | join(' ') | trim %}

{% set button_group_toolbar_classes = button_group_toolbar_classes|default([])|merge([
  'btn-toolbar',
  button_group_toolbar_other_classes,
]) | sort | join(' ') | trim %}

{% set button_group_toolbar_attributes = button_group_toolbar_attributes|default([])|merge([
  'role="toolbar"',
  button_group_toolbar_label ? 'aria-label="' ~ button_group_toolbar_label ~ '"',
  button_group_toolbar_other_attributes,
]) | sort | join(' ') | trim %}

<div class="{{ button_group_wrapper_classes }}" {{ button_group_wrapper_attributes }}>
  {% block heading %}
    {% if button_group_title or button_group_description %}
      <div class="button-group--heading">
        {% if button_group_title %}
           <h1 class="button-group--title">{{ button_group_title }}</h1>
        {% endif %}
        {% if button_group_description %}
          <div class="button-group--description">{{ button_group_description }}</div>
        {% endif %}
      </div>
    {% endif %}
  {% endblock heading %}

  {% if button_group_toolbar == true %}
  <div class="{{ button_group_toolbar_classes }}" {{ button_group_toolbar_attributes }}>
  {% endif %}

    {% block button_groups %}
      {% for group in button_groups %}

        {% if button_group_toolbar == true %}
          {% set button_group_display_grid = false %}
        {% elseif group.button_group_display_grid is null %}
          {% set button_group_display_grid = true %}
        {% else %}
          {% set button_group_display_grid = group.button_group_display_grid %}
        {% endif %}

        {% set breakpoints = [] %}

        {% for breakpoint, display in group.button_group_breakpoints %}
          {% set breakpoints = breakpoints|merge([
            'd-' ~ breakpoint ~ '-' ~ display
          ]) %}
        {% endfor %}

        {% set button_group_classes = group.button_group_classes|default([])|merge([
          button_group_vertical == true ? 'btn-group-vertical' : 'button-group',
          button_group_display_grid == true ? 'display-grid' : 'display-group',
          button_group_display_grid == true ? 'd-grid' : 'btn-group',
          group.button_group_gap ? 'gap-' ~ group.button_group_gap,
          button_group_display_grid == true and breakpoints ? breakpoints | sort | join(' ') | trim,
          button_group_size ? 'btn-group-' ~ button_group_size,
          group.button_group_other_classes,
        ]) | sort | join(' ') | trim %}

        {% set button_group_attributes = group.button_group_attributes|default([])|merge([
          'role="group"',
          group.button_group_label ? 'aria-label="' ~ group.button_group_label ~ '"',
          group.button_group_other_attributes,
        ]) | sort | join(' ') | trim %}

        <div class="{{ button_group_classes }}" {{ button_group_attributes }}>
          {% block buttons %}
            {% for button in group.buttons %}
              {% if button.button_dropdown == true %}
                {% include "@atoms/button/_button~dropdown.tpl.twig" with {
                  button_classes: button.button_classes,
                  button_other_classes: button.button_other_classes,
                  button_element: button.button_element,
                  button_type: button.button_type,
                  button_outline: button.button_outline,
                  buttonless_dropdown: button.buttonless_dropdown,
                  button_color: button.button_color,
                  button_size: button.button_size,
                  button_block: button.button_block,
                  button_active: button.button_active,
                  button_toggle: button.button_toggle,
                  button_link: button.button_link,
                  button_value: button.button_value,
                  button_id: button.button_id,
                  button_disabled: button.button_disabled,
                  button_attributes: button.button_attributes,
                  button_other_attributes: button.button_other_attributes,
                  button_text: button.button_text,
                  button_target: button.button_target,
                  button_expanded: button.button_expanded,
                  button_controls: button.button_controls,
                  nowrap: button.nowrap,
                  contextual_content: button.contextual_content,
                  title: button.title,
                  popover_content: button.popover_content,
                  context_placement: button.context_placement,
                  context_container: button.context_container,
                  hide_label: button.hide_label,
                  aria_label: button.aria_label
                } %}
              {% else %}
                {% include "@atoms/button/_button.tpl.twig" with {
                  button_classes: button.button_classes,
                  button_other_classes: button.button_other_classes,
                  button_element: button.button_element,
                  button_type: button.button_type,
                  button_outline: button.button_outline,
                  buttonless_dropdown: button.buttonless_dropdown,
                  button_color: button.button_color,
                  button_size: button.button_size,
                  button_block: button.button_block,
                  button_active: button.button_active,
                  button_toggle: button.button_toggle,
                  button_link: button.button_link,
                  button_value: button.button_value,
                  button_id: button.button_id,
                  button_disabled: button.button_disabled,
                  button_attributes: button.button_attributes,
                  button_other_attributes: button.button_other_attributes,
                  button_text: button.button_text,
                  button_target: button.button_target,
                  button_expanded: button.button_expanded,
                  button_controls: button.button_controls,
                  nowrap: button.nowrap,
                  contextual_content: button.contextual_content,
                  title: button.title,
                  popover_content: button.popover_content,
                  context_placement: button.context_placement,
                  context_container: button.context_container,
                  hide_label: button.hide_label,
                  aria_label: button.aria_label
                } %}
              {% endif %}
            {% endfor %}
          {% endblock buttons %}

          {% block nested_content %}{% endblock nested_content %}
        </div>
      {% endfor %}
    {% endblock button_groups %}

    {% block input_group %}{% endblock input_group %}
  {% if button_group_toolbar == true %}
  </div>
  {% endif %}
</div>



